<div class="contact-form">
<form action="#" method="post">
  <input type="hidden" name="_to" value="team@variantstudios.com">
  <input type="hidden" name="_subject" value="Start A Project Form">
   <input type="text" name="_gotcha" style="display: none;">
    <div class="webform-component">
        <input type="text" name="name" id="name" required="" placeholder="Name">
    </div>
    <div class="webform-component">
        <input type="email" name="email" id="email" required="" placeholder="Email">
    </div>
    <div class="webform-component">
        <textarea id="message" name="message" rows="6" placeholder="Message"></textarea>
    </div>
    <input class="sendButton" type="submit" name="Submit" value="Send">
</form>
</div>