.overlay {
 position: fixed;
 display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  background-image: linear-gradient(135deg, #3B1D61 0%, #562A59 14%, #CB6039 73%, #FF942D 100%);
}

.header-wrapper {
  position: relative;
}
.menu-corner {
  height: 130px;
  width: 250px;
  position: absolute;
  top: -5px;
  right: 0px;
  background: url("../images/menu-corner.svg") center center no-repeat ;
  z-index: 1;
  .menu-trigger {
    position: relative;
    top: 0px;
    right: -145px;
    cursor: pointer;
  }
}

svg path, svg line {
    stroke: #fff;
    stroke-width: 6px;
    stroke-linecap: round;
    fill: none;
}
#hamburger {
  display: none;
  transform: scale(.6);
}
.trigger {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 5;
  top: 0;
  left: 0;
}

ul.menu {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 140px;
    left: -100px;
    opacity: 0;
    z-index: 0;
    li {
      display: block;
      a {
        color: #fff;
        font-size: 2.2em;
        text-decoration: none;
        transition: all .1s ease-in;
        font-family: "sofia-pro", sans-serif;
        &:hover {
          margin-left: 10px;
          transition: all .3s ease-out;      
        }
      }
    }
}
.menu-text {
    margin: -42px 0 0 36px;
    color: rgba(126, 126, 126, 0.45);
    font-size: .7em;
    opacity: 0;
}

// .menu {
//   padding: 0;
//   margin: 0;
//   @include breakpoint($bp-medium, $no-query: '.no-mq') {
//     text-align: right;
//   }
//   li {
//     list-style: none;
//     margin: 0;
//     display: block;
//     padding: 0;
//     @include breakpoint($bp-medium, $no-query: '.no-mq') {
//       display: inline-block;
//       line-height: 3em;
//     }
//     a {
//       font-weight: 500;
//       font-size: 1em;
//       transition: color .5s ease;
//       padding: .75em 1em;
//       display: block;
//       color: #000;
//       text-transform: uppercase;
//       @include breakpoint($bp-medium, $no-query: '.no-mq') {
//         margin-left: 1.5em;
//         padding: 0;
//       }
//       &:hover {
//         color: $color-one;
//       }
//       &:active {
//         top: 1px;
//         position: relative;
//       }
//     }
//   }
//   a, a:visited {
//     text-decoration: none;
//   }
// }
// .js .main-nav .menu {
//   max-height: 0;
//   overflow: hidden;
//   transition: max-height .5s ease;
//   @include breakpoint($bp-medium, $no-query: '.no-mq') {
//     max-height: none;
//   }
//   &.show {
//     max-height: 500px;
//   }
// }
// .js .menu-btn {
//   padding: 1em;
//   background: $color-one;
//   border: none;
//   color: #fff;
//   font-weight: 700;
//   font-size: 1.1em;
//   text-align: center;
//   @include breakpoint($bp-medium, $no-query: '.no-mq') {
//     display: none;
//   }
//   img {
//     padding-right: .5em;
//   }
// }
// .no-js .menu-btn {
//   display: none;
// }
