.front-slick.slick-slider {
    z-index: 1;
    .slick-prev {
        left: 16px;
    }
    .slick-next {
        right: 16px;
    }
}
.slick-track div {
    height: 100vh;
}
.slick-slide{
    a {
       
    }

}
