.logo {
  text-align: center;
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(4,1,$gutter:0);
  }
}

.main-nav {
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(8,5);
  }
}

.header-wrapper  {
  padding: 1em 0;
  background-image: linear-gradient(-135deg, #3B1D61 0%, #562A59 14%, #CB6039 73%, #FF942D 100%);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.34);
  transition: all .5s ease-in-out;
  &.open {
    height: 100%;
    transition: all .5s ease-in-out;
  }
}
