.wrap {
  @include clearfix;
  max-width: $container_width;
  margin: 0 auto;
  padding: 0;
}


body.notfront {
  .main-wrapper {
    margin-top: 120px;
    opacity: 0;
  }
  main {
   @include clearfix;
    padding: 0 2em;
}
}
body.front {
  .main-wrapper {
    margin-top: 0px;
    opacity: 0;
  }
  main {
    @include clearfix;
    padding: 0;
  }
}

