<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
{% include head.html %}
<body class="{% if page.class %}{{page.class}}{% else %}notfront{% endif %}">
	{% include browserupgrade.html %}
 <div class="overlay"></div>
  <div class="header-wrapper clearfix">
	  {% include header.html %}
  </div>
 
  <div class="main-wrapper clearfix">
	  {{ content }}
  </div>
  
  
  <div class="footer-wrapper clearfix">
    {% if page.url == "/" %}
      {% include front-footer.html %}
    {% else %}
  	  {% include footer.html %}
    {% endif %}
  </div>

  <!--<svg style="display: none;">
  <defs>
    <filter id="filter">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"/>
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="filter"/>
      <feComposite in="SourceGraphic" in2="filter" operator="atop"/>
    </filter>
  </defs>
</svg>-->

	{% include scripts.html %}
</body>

</html>
