<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
{% include head.html %}
<body class="{% if page.class %}{{page.class}}{% else %}notfront{% endif %}">
	{% include browserupgrade.html %}
 <div class="overlay"></div>
 <div class="menu-corner">
  <div class="menu-trigger">
    <svg width="100px" height="100px" id="hamburger">
      <path id="first" d="M 30 40 L 70 40 C 90 40 90 75 60 85 A 40 40 0 0 1 20 20 L 80 80"></path>
      <path id="middle" d="M 30 50 L 70 50"></path>
      <path id="second" d="M 70 60 L 30 60 C 10 60 10 20 40 15 A 40 38 0 1 1 20 80 L 80 20"></path>
    </svg>
    <div class="trigger"></div>
    <!--<div class="menu-text">menu</div>-->
  </div>
  </div>
    <nav class="main-nav">
    {% include nav.html nav=site.data.menu %}
  </nav>
  <div class="header-wrapper clearfix">
	  {% include header.html %}
  </div>
 
  <div class="main-wrapper clearfix">
	  {{ content }}
  </div>
  
  
  <div class="footer-wrapper clearfix">
    {% if page.url == "/" %}
      {% include front-footer.html %}
    {% else %}
  	  {% include footer.html %}
    {% endif %}
  </div>

  <!--<svg style="display: none;">
  <defs>
    <filter id="filter">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"/>
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="filter"/>
      <feComposite in="SourceGraphic" in2="filter" operator="atop"/>
    </filter>
  </defs>
</svg>-->

	{% include scripts.html %}
</body>

</html>
